include:
  - project: supervision-team/continuous-delivery-automation
    file: templates/trigger-source-code-mirror.yml
  - component: $CI_SERVER_FQDN/components/go/lint@0.7.2
  - component: $CI_SERVER_FQDN/components/go/test@0.7.2
    inputs:
      go_image: golang:${GO_VERSION}
  - component: $CI_SERVER_FQDN/components/go/build@0.7.2
    inputs:
      go_image: golang:${GO_VERSION}
      binary_directory: ""

variables:
  GO_VERSION: 1.25

stages:
  - check
  - test
  - build
  - deploy

default:
  interruptible: true

# global rules applying to all jobs
workflow:
  rules:
    # these rules prevent duplicate pipelines from running when opening a merge request
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_REF_PROTECTED == "true"

go:lint:
  allow_failure: true

# this job is defined by the component we import via the include above
# we are simply overriding the `script` property and keeping the other properties as is
go:test:
  needs: [] # allows this job to start fast and not wait for other checks
  script:
    - go run gotest.tools/gotestsum@latest --junitfile tests.xml -- -coverprofile=cover.out.tmp ./...
    - cat cover.out.tmp | grep -v "pb.go" > cover.out
    - >
      go run github.com/boumenot/gocover-cobertura@latest
      < cover.out > coverage.xml
    - go tool cover -func cover.out
